<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NatureApp"
        tools:targetApi="31">
        <activity
            android:name=".GameActivity"
            android:label=""
        />
        <activity
            android:name=".CorrectActivity"
            android:label=""
        />

        <activity
            android:name=".WrongActivity"
            android:label=""
        />
        <activity
            android:name=".SealsActivity"
            android:label=""
        />
        <activity
            android:name=".BearActivity"
            android:label=""
        />
        <activity
            android:name=".SettingsActivity"
            android:label=""
        />
        <activity
            android:name=".AIActivity"
            android:label=""
        />
        <activity
            android:name=".AIDetailActivity"
            android:label=""
        />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.NatureApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>